@inherits LayoutComponentBase

<PageTitle>Howest.MagicCards.Web</PageTitle>

<div class="page">
    <main>
        <div class="banner">
            <img src=".\images/banner.jpg" class="banner-image" />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
