@using System.Text.Json
@using Howest.MagicCards.DAL.Repositories;
@using Howest.MagicCards.Shared.DTO.Card;

@inject NavigationManager navigationManager;

@if (cards == null)
{
    @LoadingTemplate
}
else
{
    <h5 id="error-message">@Message</h5>
    <div class="card-row-container">
        <div class="justify-content-center d-flex flex-wrap">
            @CardListData
        </div>
    </div>
}

@code {
    [Parameter]
    public IEnumerable<CardReadDTO>? cards { get; set; }

    [Parameter]
    public string? Message { get; set; }

    [Parameter]
    public RenderFragment? LoadingTemplate { get; set; }

    [Parameter]
    public RenderFragment? CardListData { get; set; }

}
